<connectionStrings>
    <add name="ProviderDB"
         connectionString="data source=localhost;Integrated Security=SSPI;Initial Catalog=appservices;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
    <add name="IdentityServerConfiguration"
         connectionString="data source=localhost;Integrated Security=SSPI;Initial Catalog=appidentity;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
</connectionStrings>